/**
*
* time'n'go site style
*
* @author Stéfano Stypulkowski
*/
* {
  font-family: 'Montserrat', courier;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-weight: normal;
}
button:active { padding: 0; }
input::-moz-focus-inner,
button::-moz-focus-inner { border: 0; }

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: #bbb;
  min-width: 640px;
  position: absolute;
  border-top: 3px solid #333;
  width: 100%;
  height: 100%;
}

h1 {
  display: inline-block;
  font-family: 'Pacifico', cursive;
  font-size: 36px;
  color: #fff;
  padding: 0 24px 12px;
  background-color: #222;
  border-radius: 0 0 18px 18px;
  text-shadow: 1px 1px 1px #222;
  box-shadow: 0 0 6px rgba( 0, 0, 0, .7)
}
#dial {
  width: 800px;
  margin: 20vh auto 0px auto;
  font-size: 0;
  transform-origin: top left;
}

.digit-case-wrapper {
  display: inline-block;
  position: relative;
}
.digit-case-wrapper:nth-child(-n+2) { margin-right: 20px; }

.digit-wheel-house { position: relative; }
.digit-case {
  height: 200px;
  position: absolute;
  width: 100%;
  border: 2px solid #000;
  border-bottom-color: #eee;
  border-right-color: #eee;
  border-radius: 9px;
  z-index: 9;
  box-shadow: 0 0 0 12px #bbb, /* cover around */
    0 120px 0 2px #bbb, /* cover bottom */
    0 -120px 0 2px #bbb; /* cover top */
}
.digit-case::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,rgba( 0, 0, 0, .8) 0%, rgba(0, 0, 0, .0) 25%, rgba(0,0,0,.0) 75%,rgba( 0, 0, 0, .8) 100%);
  box-shadow: inset 0 0 5px 0 rgba( 0, 0, 0, .7);
  border-radius: 9px;
}
.digit-case::before {
  content: '';
  position: absolute;
  top: 50px;
  right: 90px;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  box-shadow: 0 0 60px 18px #fff;
  z-index: 9;
}

.digit-wrapper {
  display: inline-block;
  width: 120px;
  vertical-align: top;
  position: relative;
  height: 200px;
}
/* Arrows */
.digit-wrapper::after,
.digit-wrapper::before {
  position: absolute;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  content: '';
  z-index: 5;
}
.digit-wrapper::before { top: 51%; }
.digit-wrapper::after { top: 50%; }
.digit-wrapper:first-child::before { left: 0; border-left: 31px solid #222; }
.digit-wrapper:last-child::before { right: 0; border-right: 31px solid #222; }
.digit-wrapper:first-child::after { left: 0; border-left: 30px solid #ffbe5e; }
.digit-wrapper:last-child::after { right: 0; border-right: 30px solid #ffbe5e; }

.digit-wheel {
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  will-change: transform;
}

.digit-wheel.six {
  height: 200px;
  transform: translateZ( -173px );
}
.digit-wheel.ten {
  height: 120px;
  margin-top: 42px;
  transform: translateZ( -185px );
}

.digit-wheel:not(.spinning) {
  -webkit-animation-play-state: paused!important;
  -moz-animation-play-state: paused!important;
  animation-play-state: paused!important;
}

.digit-wheel.six.reset { transform: rotateX(0)!important; }
.digit-wheel.ten.reset { transform: rotateX(0)!important; }

@keyframes rotation-ten {
  from { transform: translateZ(-185px) rotateX(0deg); }
  to { transform: translateZ(-185px) rotateX(-360deg); }
}

@keyframes rotation-six {
  from { transform: translateZ(-173px) rotateX(0deg); }
  to { transform: translateZ(-173px) rotateX(-360deg); }
}

#m1 .digit-wheel  { animation: rotation-ten 6000s linear infinite; }
#m2 .digit-wheel  { animation: rotation-ten 600s linear infinite; }
#s1 .digit-wheel  { animation: rotation-six 60s linear infinite; }
#s2 .digit-wheel  { animation: rotation-ten 10s linear infinite; }
#ms1 .digit-wheel { animation: rotation-ten 1s linear infinite; }
#ms2 .digit-wheel { animation: rotation-ten 100ms linear infinite; }

/* Single digit style */
.digit {
  width: inherit;
  position: absolute;
  background-color: #333;
  text-shadow: -1px -1px 1px #111, 1px 1px 1px #555;
  text-align: center;
}
.digit-wrapper:not(:last-child) .digit {
  box-shadow: -1px 1px 0 0 #333; /* Creates an solid shadow below the digit to cover any animation flow on the wheel */
  border-right: 1px solid #000;
}
.digit-wrapper:not(:first-child) .digit {
  box-shadow: 1px 1px 0 0 #333; /* Creates an solid shadow below the digit to cover any animation flow on the wheel */
  border-left: 1px solid #666;
}

.digit::before,
.digit::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
}
/* lines on the wheels */
.digit::after {
  width: 10%;
  background: linear-gradient(to bottom,
    transparent 10%, #fff 10%, #fff calc( 10% + 1px), transparent calc( 10% + 1px),
    transparent 30%, #fff 30%, #fff calc( 30% + 1px), transparent calc( 30% + 1px),
    transparent 70%, #fff 70%, #fff calc( 70% + 1px), transparent calc( 70% + 1px),
    transparent 90%, #fff 90%, #fff calc( 90% + 1px), transparent calc( 90% + 1px) );
}
/* Hack to work on EDGE as the calc() inside another property does not work */
_:-ms-lang(x), .digit::after {
  background: linear-gradient(to bottom,
    transparent 10%, #fff 10%, #fff 11%, transparent 11%,
    transparent 30%, #fff 30%, #fff 31%, transparent 31%,
    transparent 70%, #fff 70%, #fff 71%, transparent 71%,
    transparent 90%, #fff 90%, #fff 91%, transparent 91% );
}

.digit::before {
  width: 15%;
  background: linear-gradient(to bottom, transparent 50%, #fff 50%, #fff calc( 50% + 3px ), transparent calc( 50% + 3px ) );
}
.six .digit::before {
  background: linear-gradient(to bottom, transparent 51%, #fff 51%, #fff calc( 51% + 3px ), transparent calc( 51% + 3px ) );
}
/* EDGE Hacks */
_:-ms-lang(x), .digit::before { background: linear-gradient(to bottom, transparent 50%, #fff 50%, #fff 52%, transparent 52% ); }
_:-ms-lang(x), .six .digit::before { background: linear-gradient(to bottom, transparent 51%, #fff 51%, #fff 52%, transparent 52% ); }

.digit-wrapper:last-child .digit::before,
.digit-wrapper:last-child .digit::after { left:0; }
.digit-wrapper:first-child .digit::before,
.digit-wrapper:first-child .digit::after { right:0; }

.ten .digit { height: 120px; }
.six .digit { height: 200px; }
.digit span {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  display: block;
  font-size: 110px;
  font-weight: 300;
  color: #fff;
}

.six .digit:nth-child(1) { transform: rotatex(  0deg) translateZ(173px); }
.six .digit:nth-child(2) { transform: rotatex( 60deg) translateZ(173px); }
.six .digit:nth-child(3) { transform: rotatex(120deg) translateZ(173px); }
.six .digit:nth-child(4) { transform: rotatex(180deg) translateZ(173px); }
.six .digit:nth-child(5) { transform: rotatex(240deg) translateZ(173px); }
.six .digit:nth-child(6) { transform: rotatex(300deg) translateZ(173px); }

.ten .digit:nth-child(1) { transform: rotatex(  0deg) translateZ(185px); }
.ten .digit:nth-child(2) { transform: rotatex( 36deg) translateZ(185px); }
.ten .digit:nth-child(3) { transform: rotatex( 72deg) translateZ(185px); }
.ten .digit:nth-child(4) { transform: rotatex(108deg) translateZ(185px); }
.ten .digit:nth-child(5) { transform: rotatex(144deg) translateZ(185px); }
.ten .digit:nth-child(6) { transform: rotatex(180deg) translateZ(185px); }
.ten .digit:nth-child(7) { transform: rotatex(216deg) translateZ(185px); }
.ten .digit:nth-child(8) { transform: rotatex(252deg) translateZ(185px); }
.ten .digit:nth-child(9) { transform: rotatex(288deg) translateZ(185px); }
.ten .digit:nth-child(10) { transform: rotatex(324deg) translateZ(185px); }

#ms1 .digit span,
#ms2 .digit span,
#ms3 .digit span { font-weight: 200; }

#controls {
  margin: 10vh auto 0;
  font-size: 0;
}

.button {
  display: inline-block;
  background-color:#bbb;
  font-size: 28px;
  cursor: pointer;
  width: 180px;
  height: 70px;
  border: 1px solid #555;
  border-top-color: #fff;
  border-left-color: #fff;
  color: #333;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #000;
  box-shadow: 0 0 0px 2px rgba( 0, 0, 0, .5);
  border-radius: 12px;
  position: relative;
  vertical-align: top;
  text-align: center;
}

.action { margin-right: 48px }
.reset { width: 120px; }

.action .fa-play { margin-right: 18px; }
i { position: relative; }

/* glare effect */
i.fa-play::after,
i.fa-pause::after,
i.fa-stop::after {
  content: '';
  position: absolute;
}
i.fa-play::after {
  top: 9px;
  left: 6px;
  box-shadow: 0 0 7px 2px #fff;
}
i.fa-pause::after {
  top: 6px;
  left: 5px;
  box-shadow: 0 0 7px 2px #fff;
}
i.fa-stop::after {
  top: 6px;
  left: 6px;
  box-shadow: 0 0 7px 2px #fff;
}

.action.paused:not(.disabled) i.fa-play,
.reset.active:not(.disabled) i.fa-stop,
.action.active:not(.disabled) i.fa-pause { color: #ffbe5e; }
.action.paused:not(.disabled) i.fa-play::after,
.reset.active:not(.disabled) i.fa-stop::after,
.action.active:not(.disabled) i.fa-pause::after {
  box-shadow: 0 0 3px 3px #fff, 6px 6px 24px 8px #ffbe5e;
}

.button::after {
  content: '';
  position: absolute;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border: 1px solid #333;
  border-bottom-color: #fff;
  border-right-color: #fff;
  border-radius: inherit;
  left: -3px;
  top: -3px;
}
.button:active {
  border-top-color: #222;
  border-left-color: #222;
  box-shadow: inset 0 0 6px rgba( 0, 0, 0, .7);
}

footer {
  position: absolute;
  bottom: 3vh;
  width: 100%;
  text-align: center;
}
footer a {
  font-size: 18px;
  color: #555;
  text-decoration: none;
}
